<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Arvo&family=Playfair+Display&display=swap" rel="stylesheet">


  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/voting.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

</head>

<body id="polling-body">
  <%- include('partials/nav') %>

  <form id="voter-name">
    <h2>Please Enter Your Name to Access Poll</h1>
      <div>
        <!-- <label class="form-label">Name:</label> -->
        <input type="name" name="name" class="form-control" id="voter-name" placeholder="Name" required >
      </div>
      <button class="btn btn-outline-success" type="submit" id="name-submit">Access Poll</button>
  </form>

  <form id="poll">
    <h1 class="vote-here"><u>Vote Here</u></h1>
    <h6 class="title">Decision to be made: <dt class="title-res">
        <%= title %>
      </dt>
      </h1>
      <h6 class="description">Description: <dt class="description-res">
          <%= description %>
        </dt>
        </h2>
        <h2>Choices:</h2>
        <ul class="list-group" id="options">
          <% options.forEach(option=> { %>
            <li class="list-group-item" id="<%=option.id%>">
              <%= option.name %>
            </li>
            <% }) %>
        </ul>
        <button id="poll-submit" class="btn btn-outline-success" type="submit">Submit Vote</button>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
          crossorigin="anonymous"></script>
  </form>
</body>

</html>
