<!DOCTYPE html>
<html lang="en">

<head>
  <title>Voting Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/poll.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/voting.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

</head>

<body id="polling-body">
  <%- include('partials/nav') %>

    <form id="voter-name">
      <h2>Please Enter Your Name to Access Poll</h1>
        <div>
          <input type="name" name="name" class="form-control" id="valid-name" placeholder="Name">
          <button class="btn btn-outline-success" type="submit" id="name-submit">Access Poll </button>
        </div>
        <article id="name-error"> </article>
    </form>
    <form id="poll">
      <h1 class="vote-here"><u>Vote Here</u></h1>

      <h6 class="title">Decision to be made: <dt class="title-res">
          <%= title %>
        </dt>
        </h1>
        <h6 class="description">Description: <dt class="description-res">
            <%= description %>
          </dt>
          </h2>
          <div class="poll-box">
          <h2>Choices:</h2>
          <ul class="list-group list-group-numbered" id="options">
            <% options.forEach(option=> { %>
              <li class="list-group-item" id="<%=option.id%>">
                <%= option.name %>
              </li>
              <% }) %>
          </ul>
          <button id="poll-submit" class="btn btn-outline-success" type="submit">Submit Vote</button>
        </div>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
    </form>

    <span id="finish-vote">
      <!-- Where thank you message goes -->
    </span>

</body>

</html>
